@{
  Layout = "_Layout";
}

@using VendorTracker.Models;

<h1>Vendors</h1>

@if (@Model.Count == 0)
{
  <h3>No vendors have been added yet!</h3>
} 
@{
  int counter = 1;
}
@foreach (Vendor vendor in Model)
{
  <h3>@counter. Name: <a href='/vendors/@vendor.Id'>@vendor.VendorName</a></h3>
  <h5>Description: @vendor.VendorDescription</h5>
  <hr>
  counter++; 
}

<form action='/vendors/new' method="get">
  <button type="submit">Add a new vendor</button>
</form>
<form action="/" method="get">
  <button type="submit">Home</button>
</form>