@{
  Layout = "_Layout";
}
<h1>Welcome, Pierre! Choose an option:</h1>

<form action='/vendors' method="get">
  <button type="submit">View vendors</button>
</form>
<form action='/vendors/new' method="get">
  <button type="submit">Add a new vendor</button>
</form>